/* Extras */
.faIcon {
  color: rgba(0, 0, 0, 0.5);
}
.faIcon:hover {
  color: rgba(0, 0, 0, 0.7);
}

.profile-cover {
  background-color: #3e00f9;
  margin: 0;
  padding-top: 120px;
  border-radius: 5px;
}
.text-cover {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 8px;
  color: white;
}
.text-cover h2 {
  font-size: 18px;
  padding: 0;
  margin: 0;
}
.text-cover p {
  font-size: 14px;
  padding: 0;
  margin: 0;
}
.profile-nav > ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 20px;
  margin-top: 20px;
}
.profile-Link {
  text-decoration: none;
  border-radius: 30px;
  padding: 10px 18px;
  margin-right: 10px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
}
.profile-Link:hover {
  background-color: #3e00f9;
  color: white;
}
.navy-back {
  background-color: #3e00f9;
  color: white;
}
.maroon-back {
  background-color: #53354a;
  color: white;
}
.btn-dark {
  background-color: #2b2e4a;
  color: white;
  padding: 5px;
  width: 60px;
}
.btn-remove {
  background-color: rgba(255, 0, 0, 1);
  color: white;
  padding: 8px;
  width: 120px;
  border-radius: 30px;
  border: 0;
  font-size: 15px;
}
.btn-save {
  border: 0;
  border-radius: 30px;
  width: 100px;
  padding: 8px;
  font-size: 15px;
}
.btn-save:hover {
  opacity: 0.8;
}
.btn-remove:hover {
  opacity: 0.8;
}
.btn-wrapper {
  margin-top: 15px;
  width: 100%;
  text-align: right;
}

/* FEED */
.post-wrapper {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.03);
  padding: 35px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: auto;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.06);
}
.post-top-wrapper {
  display: flex;
}
.btn-edit {
  -webkit-appearance: none;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: 0;
  position: absolute;
  padding: 5px;
  width: 60px;
  right: 38px;
  font-size: 13px;
  border-radius: 30px;
  transform: translateY(-22px);
}
.btn-edit:hover {
  opacity: 0.8;
}
.btn-newPost {
  -webkit-appearance: none;
  padding: 8px 25px;
  border-radius: 30px;
  margin: 0;
  margin-top: -46px;
  background-color: #3e00f9;
  color: white;
  position: absolute;
  font-weight: 400;
  font-size: 15px;
  right: 14px;
}
.btn-newPost:hover {
  opacity: 0.8;
}
.post-name {
  padding: 0;
  margin: 0;
  margin-bottom: 6px;
  letter-spacing: -1px;
  font-size: 20px;
}
.post-name-split > p {
  padding: 0;
  margin: 0;
}
.post-date {
  color: rgba(0, 0, 0, 0.4);
  letter-spacing: -1px;
  font-size: 12px;
  display: block;
}
.post-body {
  display: flex;
}
.post-body p {
  margin-top: 25px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}

.btn-back {
  height: 35px;
  width: 70px;
  margin: 0;
  font-size: 15px;
  border-radius: 30px;
  border: 0;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  color: black;
}
.btn-back:hover {
  opacity: 0.8;
}
.post-create {
  margin: 0;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.03);
  background-color: white;
}
.post-create-head {
  font-size: 30px;
  letter-spacing: -1px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
.ta {
  width: 100%;
  min-width: 900px;
  border: 1px solid #d8d6de;
  min-height: 120px;
  border-radius: 5px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
}
.btn-post {
  padding: 6px;
  width: 100px;
  margin: 5px 0;
  border-radius: 30px;
  font-size: 15px;
}
.btn-post:hover {
  opacity: 0.8;
}

/* ABOUT */

.about-section {
  background-color: white;
  padding: 15px;
  margin: 0;
  margin-bottom: 20px;
  border-radius: 5px;
}
.about-section h2 {
  padding: 5px 0;
  margin: 0;
  font-size: 30px;
  letter-spacing: -1px;
  margin-bottom: 10px;
}
.exp-section {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 28px;
}
.about-section p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 15px;
  margin: 0;
  padding: 0;
}
.exp-section h3 {
  font-size: 22px;
  letter-spacing: -1px;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
.about-dates {
  margin-top: 12px;
}
.about-date {
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
}
.personal-section p {
  margin: 0;
  padding: 0;
  margin-top: 5px;
}
.personal-p {
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
}
.about-inst {
  padding: 8px;
  margin: 0;
  list-style-type: none;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}

/* About Edit */

.about-edit-head {
  margin: 0;
  padding: 0;
  font-size: 30px;
  margin-bottom: 15px;
}
.taAboutDescText {
  background-color: rgba(0, 0, 0, 0.08);
  border: 0;
  width: 800px;
  min-height: 120px;
  padding: 10px;
  font-family: inherit;
  font-size: 15px;
  border-radius: 6px;
}
.taAboutDescText:focus {
  outline: none;
}

.exp-block {
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 15px;
  width: 700px;
}
.about-exp-head {
  font-size: 18px;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}
.tbExpInstText {
  background-color: rgba(0, 0, 0, 0.08);
  border: 0;
  margin: 0;
  font-family: inherit;
  border-radius: 30px;
  padding: 5px 10px;
  width: 420px;
  font-size: 15px;
  margin-bottom: 12px;
}
.tbExpInstText:focus {
  outline: none;
}
.taExpDescText {
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  border: 0;
  padding: 10px;
  font-family: inherit;
  width: 600px;
  font-size: 15px;
  height: 80px;
  margin-bottom: 10px;
}
.taExpDescText:focus {
  outline: none;
}

.dt {
  border: 0;
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-family: inherit;
}
.dt:focus {
  outline: none;
}

.btnRemoveExp {
  background-color: rgba(255, 0, 0, 0.1);
  border: 0;
  color: red;
  border-radius: 30px;
  font-size: 20px;
  padding: 0;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.btnRemoveExp:hover {
  opacity: 0.7;
}

.btnAddExp {
  background-color: #3e00f9;
  color: white;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 30px;
  font-size: 16px;
  height: 50px;
  width: 50px;
  display: block;
  margin-top: 25px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}
.btnAddExp:hover {
  opacity: 0.7;
}

.exp-form-block {
  margin-top: 20px;
}
.btnCancelExpForm {
  background-color: rgba(0, 0, 0, 0.08);
  margin: 15px 0;
  border: 0;
  font-size: 15px;
  border-radius: 30px;
  padding: 8px;
  width: 100px;
}
.btnCancelExpForm:hover {
  opacity: 0.7;
}
.exp-form-head {
  margin: 0;
  padding: 0;
  font-size: 18px;
  margin-bottom: 8px;
}
.btnExpApply {
  background-color: #3e00f9;
  border: 0;
  color: white;
  border-radius: 30px;
  padding: 8px;
  font-size: 15px;
  width: 100px;
}
.btnExpApply:hover {
  opacity: 0.7;
}

.about-personal-head {
  font-size: 18px;
  font-weight: 800;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
.tbEmailText {
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  font-size: 15px;
  border: 0;
  margin: 0;
  margin-bottom: 15px;
  padding: 5px 10px;
  width: 300px;
}
.tbEmailText:focus {
  outline: none;
}
.tbLocationText {
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  font-size: 15px;
  border: 0;
  margin: 0;
  margin-bottom: 15px;
  padding: 5px 10px;
  width: 300px;
}
.tbLocationText:focus {
  outline: none;
}
.tbInstruments {
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  font-size: 15px;
  border: 0;
  margin: 0;
  margin-bottom: 6px;
  padding: 5px 10px;
  width: 200px;
}
.tbInstruments:focus {
  outline: none;
}

.btnRemIns {
  background-color: rgba(255, 0, 0, 0.1);
  border: 0;
  margin: 0;

  border-radius: 30px;
  color: red;
  height: 28px;
  width: 28px;
  margin-left: 10px;
}
.btnRemIns:hover {
  opacity: 0.7;
}

.btnAddIns {
  background-color: #3e00f9;
  color: white;
  border-radius: 30px;
  border: 0;
  font-size: 12px;
  height: 30px;
  width: 30px;
  margin-bottom: 30px;
}
.btnAddIns:hover {
  opacity: 0.7;
}

.btnSaveChanges {
  background-color: #3e00f9;
  color: white;
  width: 200px;
  font-size: 15px;
  border-radius: 30px;
  border: 0;
  padding: 8px;
  margin-left: auto;
  margin-right: 0;
  display: block;
}
.btnSaveChanges:hover {
  opacity: 0.7;
}

/* AWARDS */
.award-block {
  margin: 0;
  padding: 15px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;
  border-radius: 10px;
  width: 700px;
}
.award-head {
  margin: 0;
  padding: 0;
  font-size: 30px;
  margin-bottom: 20px;
}
.award-name {
  margin: 0;
  padding: 0;
  font-size: 24px;
  letter-spacing: -1px;
  margin-top: 35px;
}
.award-location {
  margin: 0;
  padding: 0;
  margin-top: 2px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 15px;
}
.award-date {
  margin: 0;
  padding: 0;
  margin-top: 12px;
  font-size: 16px;
  font-weight: 800;
  color: #3e00f9;
}
.award-desc {
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
}

.award-edit-head {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 6px;
}

.tb-award {
  background-color: rgba(0, 0, 0, 0.08);
  border: 0;
  border-radius: 30px;
  padding: 5px 10px;
  margin: 0;
  margin-bottom: 12px;
  width: 350px;
  font-size: 15px;
}
.tb-award:focus {
  outline: none;
}

/* Reviews */
.rev-block {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 15px;
}
.rev-rating {
  font-size: 60px;
  font-weight: 800;
  margin: 0;
  padding: 0;
}
.rev-reviewer {
  margin: 0;
  padding: 0;
  font-weight: 800;
  letter-spacing: -1px;
  font-size: 18px;
}

.rev-date {
  margin: 0;
  padding: 0;
  margin-top: 2px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
}
.rev-review {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
}

.rev-edit {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  right: 35px;
  border-radius: 30px;
  border: 0;
  color: white;
  padding: 5px 10px;
  width: 60px;
}
.rev-edit:hover {
  opacity: 0.7;
}

.rating-head {
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 5px;
}
.rating-rating {
  margin: 0;
  padding: 10px;
  border: 0;
  border-bottom: 4px solid #3e00f9;
  font-size: 70px;
  width: 50px;
  margin-bottom: 25px;
  margin-top: 15px;
}
.rating-rating:focus {
  outline: none;
}
