.btn-topbar {
  -webkit-appearance: none;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.7);
  font-size: 20px;
  height: 35px;
  width: 35px;
  vertical-align: middle;
}
