/* Student Courses Main */
.courseGridWrapper {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}
.courseCard {
  border: 1px solid rgba(0, 0, 0, 0.08);
  width: 275px;
  padding: 0;
}
.courseListName {
  font-size: 18px;
  margin: 0;
  padding: 10px 15px;
}
.courseListDesc {
  font-size: 12px;
  margin: 0;
}
.btnView {
  -webkit-appearance: none;
  border-radius: 30px;
  border: 0;
  background-color: rgba(0, 0, 0, 0.06);
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  padding: 5px;
  margin-bottom: 15px;
  font-weight: 500;
}
.btnView:hover {
  opacity: 0.7;
}
.imgThumb {
  height: 180px;
  width: 100%;
}

.courseSearchWrapper {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 20px;
}
.searchLabel {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  margin: 0;
  margin-bottom: 10px;
}
.tbCourseSearch {
  background-color: rgba(0, 0, 0, 0.05);
}
.tbCourseSearch:focus {
  outline: none;
}

/* Course Overview */
.studContentWrapper {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  display: flex;
  padding: 10px;
  width: 100%;
}
.left {
  display: block;
  width: 680px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}
.right {
  display: block;
  width: 440px;
  margin-left: 20px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  padding: 0;
}
.imgCourseThumb {
  width: 680px;
  border-radius: 5px;
}
.studCourseName {
  font-size: 32px;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 900;
  border-radius: 5px;
  color: black;
  width: 650px;
  padding: 10px 0px;
  letter-spacing: -1px;
}
.overview {
  font-size: 16px;
  font-weight: 800;
}
.studCourseDesc {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}

.upnext {
  background-color: white;
  margin: 0;
  padding: 0;
  border: 3px solid #3e00f9;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.1);
}
.upnextHead {
  margin: 0;
  font-size: 18px;
  background-color: #3e00f9;
  padding: 10px;
  color: white;
}
.upNextName {
  padding: 15px 15px;
  font-size: 26px;
  margin: 0;
}
.upNextDesc {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
  padding: 0px 15px;
}
.btnBegin {
  -webkit-appearance: none;
  border-radius: 30px;
  background-color: #3e00f9;
  color: white;
  display: block;
  width: 90%;
  margin: 15px auto;
  padding: 5px;
  font-size: 15px;
}

.btnBegin:hover {
  opacity: 0.7;
}

.btnListHead {
  -webkit-appearance: none;
  margin: 0;
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 2px solid rgba(0,0,0,0.1);
  background-color: white;
  font-size: 18px;
  font-weight: 800;
  padding: 10px;
}
.listWrapper {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 15px;
}
.listName {
  margin: 0;
  padding: 15px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* Course Lesson */
.lessonWrapper {
  background-color: rgba(0, 0, 0, 1);
}
.vidLesson {
  display: block;
  margin: 0 auto;
  width: auto;
  height: 500px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}
.courseLessonName {
  font-size: 15px;
  display: block;
  padding: 10px;
  font-weight: 600;
  color: white;
}
.lessonTextWrapper {
  background-color: white;
  padding: 15px;
  margin-top: 15px;
}
.lessonTextHead {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  border-bottom: 3px solid #3e00f9;
  width: 150px;
  padding: 8px;
}
.lessonText {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.btnCourseCompGroup {
  background-color: rgba(0, 0, 0, 0.3);
  text-align: right;
  padding: 5px;
}
.btnCourseCompGroup > button {
  border-radius: 30px;
  padding: 6px;
  width: 130px;
  font-size: 15px;
  border: 0;
}
.btnCourseCompGroup > button:hover {
  opacity: 0.7;
}
.studTime {
  color: white;
  position: absolute;
  right: 30px;
  top: 80px;
}

/* Student QUiz */
.studCompBlock {
  background-color: white;
  margin: 0;
  padding: 18px;
  margin-bottom: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.compHead {
  font-size: 25px;
  margin: 0;
  padding: 0;
  letter-spacing: -1px;
  margin-bottom: 15px;
}
.compOpts {
  margin: 0;
  padding: 0;
  display: flex;
}
.compOpts > * {
  padding: 0px 8px;
  font-size: 16px;
}
.tbShort {
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.05);
  border: 0;
  font-size: 15px;
  width: 40%;
  padding: 8px;
}
.tbShort:focus {
  outline: none;
}
.taLong {
  background-color: rgba(0, 0, 0, 0.05);
  width: 75%;
  border: 0;
  font-family: inherit;
  padding: 10px;
  min-height: 200px;
  border-radius: 8px;
  font-size: 14px;
}
.taLong:focus {
  outline: none;
}
.raFlex {
  display: flex;
  margin: 0;
  padding: 0;
}
.raFlex > * {
  margin: 0;
  padding: 0 8px;
  font-size: 16px;
}

.btnFinishQuiz {
  -webkit-appearance: none;
  border-radius: 30px;
  background-color: #3e00f9;
  color: white;
  border: 0;
  display: block;
  margin-left: auto;
  margin-right: 0;
  font-size: 18px;
  width: 130px;
  padding: 5px;
}
.btnFinishQuiz:hover {
  opacity: 0.8;
}

.quizVideo {
  margin: 0;
  padding: 0;
  width: 70%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}
.quizAudio {
  margin-bottom: 10px;
}
.quizImg {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  height: auto;
  width: 600px;
}
.quizTime {
  position: absolute;
  right: 25px;
  top: 60px;
  font-weight: 800;
  font-size: 20px;
}

/* Results */
.resWrapper {
  background-color: white;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  padding: 15px;
}
.resTopHead {
  margin: 0;
  padding: 0;
  font-size: 35px;
  font-weight: 800;
  letter-spacing: -1px;
}
.resTopTime {
  font-weight: 800;
  font-size: 18px;
  margin: 0;
  padding: 10px 0px;
  letter-spacing: -1px;
}

.resBlock {
  /* border: 1px solid rgba(0, 0, 0, 0.4); */
  margin-bottom: 18px;
  padding: 15px;
  padding-left: 90px;
  padding-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.1);
}
.quizGiven {
  font-size: 30px;
  font-weight: 900;
  letter-spacing: -1px;
  margin: 0;
  padding: 10px 5px 0px 0px;
}
.quizAnswer {
  font-size: 17px;
  margin: 0;
  padding: 5px 0px;
  padding-bottom: 8px;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Poppins", sans-serif;
  letter-spacing: -1px;
  font-weight: 600;
}
.quizNum {
  position: absolute;
  font-size: 100px;
  transform: translateY(-35px);
  color: white;
  left: 190px;
  font-weight: 800;
  letter-spacing: -18px;
}
.quizPoints {
  font-weight: 800;
  letter-spacing: -1px;
  margin: 0;
  padding: 8px 0px;
  font-size: 20px;
}
.quizResult {
  position: absolute;
  font-weight: 900;
  font-size: 60px;
  letter-spacing: -4px;
  transform: translateY(-35px);
  right: 30px;
}
.btnResultFinish {
  -webkit-appearance: none;
  border-radius: 30px;
  font-size: 18px;
  color: white;
  background-color: #3e00f9;
  width: 150px;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: 0;
}
.btnResultFinish:hover {
  opacity: 0.8;
}

.purple-border {
  border-top: 7px solid #3e00f9;
}
.red-border {
  border-top: 7px solid #f9003e;
}
.yellow-border {
  border-top: 7px solid #bbf900;
}
.aqua-border {
  border-top: 7px solid #00f9ba;
}
.orange-border {
  border-top: 7px solid #f93e00;
}
.pink-border {
  border-top: 7px solid #f900bb;
}
.green-border {
  border-top: 7px solid #00f93e;
}

.green-whole-border {
  border: 1px solid #00f93e;
}
.red-whole-border {
  border: 1px solid #f9003e;
}
.purple-whole-border {
  border: 1px solid #3e00f9;
}
.green-background {
  background-color: rgba(0, 249, 62, 1);
  color: white;
}
.red-background {
  background-color: rgba(255, 0, 0, 0.9);
  color: white;
}
.purple-background {
  background-color: rgba(62, 0, 249, 0.8);
  color: white;
}
