.student-block {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.overall-grade {
  display: flex;
  margin: 0;
  padding: 5px;
}
.overall-grade p {
  padding: 5px;
  margin: 0;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}
.icon-grade {
  margin: 0;
  padding: 5px;
  background-color: rgba(0, 0, 255, 0.2);
  color: rgba(41, 41, 100, 0.4);
}
.block-head {
  margin: 0;
  letter-spacing: -1px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  padding: 0;
}
.small-text {
  color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
  margin: 5px 0 5px 0;
  padding: 0;
}
.list-head {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  background-color: rgba(0,0,0,0.05);
}
.quiz-head {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 800;
  padding: 5px;
  background-color: rgba(0,0,0,0.15);
}
.comp-table {
  margin-top: 10px;
  border-radius: 5px;
}
.comp-table th {
  background-color: rgba(0, 0, 0, 0.05);
  font-weight: 800;
  color: rgba(0, 0, 0, 0.9);
  font-size: 12px;
  text-align: left;
  padding: 5px 10px;
  min-width: 100px;
}
.comp-table td {
  background-color: rgba(0, 0, 0, 0.03);
  padding: 5px 10px;
}
.btn-comp {
  background-color: white;
  padding: 10px 20px;
  border-radius: 0;
  margin: 0;
  margin-bottom: 10px;
  color: rgba(0,0,0,0.5);
  border: 0;
}
.btn-comp:hover {
  background-color: #3E00F9;
  color: white;
}
.purple-background {
  background-color: #3E00F9;
  color: white;
}
