body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Button Styles */
button {
  -webkit-appearance: none;
  font-family: "Poppins", sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin: 5px;
}
button:focus {
  outline: 0;
}
.mainMenu {
  padding: 1em;
}
#mainmenuburger {
  position: fixed;
  -webkit-appearance: none;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
}
#mainmenuburger-icon {
  padding: 5px;
  height: 30px;
  width: 30px;
  color: #150e56;
}
#dash-burger-icon {
  -webkit-appearance: none;
  background-color: white;
  border: 0;
  margin: 0px 0px 0px 5px;
  color: black;
}
.menu-head {
  padding-top: 15px;
  margin-bottom: 15px;
}
.btn-navy {
  background-color: #0a043c;
  color: white;
}
.btn-salmon {
  background-color: #f56a79;
  color: white;
}
.btn-lime {
  background-color: #54e346;
  color: white;
}
.main-name {
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  margin: 0;
  letter-spacing: -1px;
}
.flex {
  display: flex;
}

/* Display Styles */
.hide {
  display: none;
}

/* List Styles */
.main-list-item {
  position: fixed;
  padding: 15px;
  margin: 0;
  margin-top: 40px;
  font-size: 25px;
}
.main-list-item > li {
  list-style-type: none;
}
.Link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 700;
  width: 100%;
}
.Link:hover {
  color: rgba(0, 0, 0, 0.9);
}

/* Dashboard menu */
.list-item {
  padding: 0;
  margin: 0;
}
.list-item > li {
  list-style-type: none;
}

.list-item-link {
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: -1px;
  text-decoration: none;
  font-weight: 600;
}

.dash-links {
  display: flex;
}
.dash-links:hover {
  color: rgba(0, 0, 0, 0.7);
}
.dash-links > div {
  padding: 8px;
}
.dash-links > div:hover {
  padding: 8px;
}

.menu-heading {
  color: rgba(0, 0, 0, 0.3);
  font-size: 13px;
  margin: 1%;
  padding: 8px;
}
.dash {
  padding: 0;
  margin: 0 8px;
  color: rgba(0, 0, 0, 0.3);
  vertical-align: middle;
}
.menuText {
  padding: 0;
  margin: 0;
}

#main-wrapper {
  padding: 0;
  margin: 0;
  display: flex;
}

.keep-left {
  float: left;
}
#keep-left {
  float: left;
}
#keep-right {
  float: left;
  clear: right;
  display: block;
  width: 100%;
}
#teacherMainMenu {
  padding: 0 15px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
#studentMainMenu {
  padding: 0 15px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.keep-left-small {
  float: left;
  width: 65px;
}
