body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -1px;
}

/* Button Styles */
button {
  -webkit-appearance: none;
  font-family: "Poppins", sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin: 5px;
}
button:focus {
  outline: 0;
}
#mainmenuburger {
  -webkit-appearance: none;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
}
#mainmenuburger-icon {
  height: 25px;
  width: 25px;
}
.btn-navy {
  background-color: #0a043c;
  color: white;
}
.btn-salmon {
  background-color: #f56a79;
  color: white;
}
.btn-lime {
  background-color: #54e346;
  color: white;
}

/* Display Styles */
.hide {
  display: none;
}

/* List Styles */
.list-item > li {
  list-style-type: none;
  font-size: 20px;
}
.Link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 700;
  width: 100%;
}
.Link:hover {
  background-color: black;
  color: white;
  padding: 2%;
}

#keep-left {
  width: 13%;
  display: block;
  float: left;
}

#keep-right {
  margin-left: 13%;
}
